<div class="ws-content">
    <nav class="navbar navbar-default ws-navbar-defaults">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="ws-main-navbar-link" class="navbar-brand" href="/">Web Scraper</a>
            </div>
        </div>
    </nav>

    <header class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <div class="row">
                <div id="jumboPhoto" class="col-md-4 col-lg-4"></div>
                <div id="jumboText" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <h1 id="nytText" class="display-4">Space News Headlines</h1>
                    <p class="lead">Scraped from
                        <a class="jumboTextLinks" href="https://www.nytimes.com" target="_blank"> The New York Times
                        </a>
                        Science/Space section using
                        <a class="jumboTextLinks" href="https://cheerio.js.org" target="_blank"> Cheerio.js</a>.
                    </p>
                    <hr class="my-4">
                    <p>New articles are scraped and then added each time you load this page.
                        Feel free to come back regularly to check for new stories.
                    </p>
                </div>
            </div>
        </div>
    </header>

    <main class="container-fluid">
        <section id="story-tab">
            <ul class="nav nav-tabs story-tabs">
                <li class="nav-item nav-link active story-tab">Latest Stories</li>
            </ul>
        </section>
        <articles>
            {{#each document}}
            {{#if @index}}
            <div class="row">
                <div class="col-md-12">
                    <hr class="ws-main-hl-hr">
                </div>
            </div>
            {{/if}}
            <div class="row headlineRow">
                <div class="col-sm-3 col-md-2 col-lg-2">
                    <div class="headlineDate">
                        <p><time>{{date}}</time></p>
                    </div>
                </div>
                <div class="col-sm-9 col-md-10 col-lg-8">
                    <div class="row headlineContent">
                        <div class="col-md-4 headlineImage">
                            <img src={{photo}}>
                        </div>
                        <div class="col-md-8 headline">
                            <div class="row">
                                <div class="col-md-12 headlineTitle">
                                    <a href={{link}} target="_blank">{{title}}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="headlineAuthor">
                                        {{#if author}}
                                        <p>By {{author}}</p>
                                        {{/if}}
                                        {{#unless author}}
                                        <p></p>
                                        {{/unless}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div>{{summary}}</div>
                                    <div class="commentLink">
                                        <a href="/comments/{{_id}}">Comments</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-lg-2"></div>
            </div>
            {{/each}}
        </articles>
    </main>
</div>

<footer class="ws-footer">
    <div class="ws-footer-txt">
        <p><span class="ws-footer-logo-txt">Web Scraper</span> | <a href="https://www.linkedin.com/in/luis-morel"
                class="ws-footer-copyright" target="_blank">
                Copyright © 2020 by Luis Morel</a>
        </p>
    </div>
    <div class="ws-footer-hb-logo">
        <p>Built with <a href="https://handlebarsjs.com" class="ws-footer-hb-logo-txt" target="_blank">Handlebars
            </a><img alt="Handlebars" src="/images/handlebars-logo-image.png" class="ws-footer-hb-logo-img" /></p>
    </div>
</footer>