<!-- NavBar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id="navbarLink" class="navbar-brand" href="/">Web Scraper</a>
        </div>
    </div>
</nav>

<!-- Large Background -->
<div class="display">Web Scraper<p>NY Times Science Space Headlines</p></div>

<!-- Headlines -->
<div class="container">

    {{#each document}}
    <div class="row headlineRow">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row headlineContent">
                <div class="col-md-4 headlineImage">
                    <img src={{photo}}>
                </div>
                <div class="col-md-8 headline" <h4>
                    <div class="row">
                        <div class="col-md-12 headlineTitle">
                            <a href={{link}} target="_blank">{{title}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{summary}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="commentBar">
                        <button id="commentButton" data-id={{_id}} type="submit">View Comments</button>
                    </div>
                </div>
            </div>
            <hr class="separator">
        </div>
        <div class="col-md-2"></div>
    </div>
    {{/each}}

</div>